body {
  font: 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.badge-primary {
  background-color: #1f6192;
}

.login-page form {
  width: 400px;
  margin: 220px auto 0;
}

.help-menu {
  min-width: 11rem;
}

.help-menu .dropdown-item {
  padding-left: 0.9rem;
}

#feedbackModal textarea {
  height: 170px;
}

.form-control {
  box-shadow: none;
}

.form-group-file {
  margin-bottom: 0;
}

.form-control-file.is-invalid {
  border: 1px solid #dc3545;
  padding: 2px;
  border-radius: 0.25rem;
}

.ctrl-p {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 58, 64, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.ctrl-p .form-control {
  position: fixed;
  width: 40%;
  top: 15%;
  background-color: #343a40;
  height: 36px;
  font-size: 24px;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

[role="main"] {
}

[role="main"].show-outputs {
}

[role="main"] h4 {
  margin: 0;
}

.account-page [role="main"] {
  margin-left: 0 !important;
  width: auto;
}

.account-page .app-controls {
  display: none;
}

.account-page .sidebar {
  display: none !important;
}

.outputs-panel {
  display: none;
  background: #343a40;
  padding: 0.66rem 0.75rem;
  margin-top: 55px;
  border-bottom: 1px solid #242a30;
}

.outputs-panel .badge {
  font-weight: 500;
}

.outputs-label {
  color: #f8f9fa;
  vertical-align: bottom;
}

.show-outputs .outputs-panel {
  display: flex;
}

.dataset-content {
  width: 100%;
}

.dataset-content h4 span {
  font-size: 0.9rem;
  vertical-align: top;
  margin: 0.5em 1em;
  display: inline-block;
  color: #999;
}

.navbar {
  border-bottom: 1px solid #242a30;
}

.navbar .home-logo {
  color: #ff5722;
  font-weight: bold;
}

.workspace-btn-wrapper {
  display: flex;
  align-items: center;
}

.workspace-btn {
  padding: 0.5em 0.7em;
}

#workspaceSelect {
  min-width: 155px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 4px;
}

#workspaceSelect .fa {
  margin: 2px 6px 0 0;
}

.workspace-tip {
  color: #66686f;
  width: 200px;
}

.workspaces .dropdown-item.active,
.workspaces .dropdown-item:active {
  background-color: #17a2b8;
}

.workspaces .fork::before {
  content: "\f126";
  margin: 0 4px 0 -14px;
  font-family: "FontAwesome";
}

.workspaceUsersModal .form-group input {
  width: 78%;
}

.workspaceUsersModal .user-list td {
  vertical-align: inherit;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 48px;
  cursor: pointer;
}

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 52px 0 0; /* Height of navbar */
  width: 275px;
  max-width: 450px !important;
  min-width: 60px !important;
  border-right: 1px solid #242a30;
}

.sidebar-collapser {
  position: absolute;
  right: 5px;
  bottom: 10px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.sidebar.SM .sidebar-collapser .fa::before {
  content: '\f054';
  margin-left: 6px;
}

.sidebar.MD .sidebar-collapser .fa::before {
  content: '\f053';
  margin-left: 2px;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
}

.sidebar.SM .sidebar-sticky {
  overflow-y: hidden;
}

.sidebar.MD .sidebar-sticky {
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
}

.sidebar.SM .js-collapser span {
  writing-mode: vertical-rl;
}

.sidebar.MD .js-collapser span {
  writing-mode: initial;
}

.context-menu {
  display: none;
  position: fixed;
  border: 1px solid #b2b2b2;
  width: 150px;
  background: #f9f9f9;
  border-radius: 4px;
  z-index: 100;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.context-menu li {
  padding: 4px 10px;
}

.context-menu li:hover {
  background-color: #17a2b8;
  color: #fff;
  cursor: pointer;
}

.context-menu hr {
  width: 85%;
  background-color: #E4E4E4;
  border-color: #E4E4E4;
  color: #E4E4E4;
}

#datasets-wrapper {
  border-bottom: 1px solid #242a30;
}

.btn-add {
  padding: 0 0.25rem;
}

.btn-add .fa {
  font-size: 12px;
  padding: 3px;
}

a.btn-add:hover {
  color: #343a40 !important;
}

a.btn-add:focus {
  box-shadow: none;
}

.sidebar.SM .btn-add {
  display: none;
}

.sidebar.MD .btn-add {
  display: initial;
}

#scripts-wrapper { }

#scripts-wrapper .sidebar-heading {
  margin-top: 0 !important;
}

.sidebar.SM .datasets,
.sidebar.SM .scripts {
  height: 0;
  display: none;
}

.sidebar.MD .datasets.show:not(.collapsing),
.sidebar.MD .scripts.show:not(.collapsing) {
  height: initial;
  display: initial;
}

.datasets.collapsing,
.scripts.collapsing {
  transition: height 0s;
}

.datasets ul,
.scripts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.datasets ul ul,
.scripts ul ul {
  padding-left: 0.5rem;
}

.datasets .folder::before,
.scripts .folder::before {
  content: "\f054";
  font-family: 'FontAwesome';
  margin-right: 0.33rem;
  position: absolute;
}

.folder + ul {
  display: none;
}

.folder.open + ul {
  display: block;
}

.datasets .folder.open::before,
.scripts .folder.open::before {
  content: "\f078";
}

.dataset, .script, .folder {
  width: 100%;
  display: inline-block;
  padding: 2px 6px;
}

a.script.active,
a.dataset.active {
  color: #17a2b8 !important;
}

a.dataset:hover,
a.folder:hover,
a.script:hover {
  cursor: pointer;
  background-color: #17a2b8;
  color: #fff !important;
}

.dataset::before {
  content: "\f1b2";
  font-family: 'FontAwesome';
  margin-right: 0.33rem;
  position: absolute;
}

.script::before {
  content: "\f016";
  font-family: 'FontAwesome';
  margin-right: 0.33rem;
  position: absolute;
}

.hsql::before {
  content: "\f1dc";
}

.foldername, .scriptname, .datasetname {
  width: 65%;
  display: inline-block;
  word-wrap: anywhere;
  margin-left: 20px;
}

.modal .foldername,
.modal .scriptname,
.modal .datasetname {
  width: initial;
  margin: 0;
}

.dataset .status,
.script .status {
  margin-left: 0.33em;
}

.script .delete {
  line-height: 16px;
}

.dataset:hover .delete,
.folder:hover .delete,
.script:hover .delete {
  display: inline !important;
  color: #d45353;
  cursor: pointer;
}

.dataset:hover .edit,
.folder:hover .edit,
.script:hover .edit {
  display: inline !important;
  color: #f8f9fa;
  margin-top: 2px;
}

.cardname-wrapper {
  width: 130px;
  overflow-wrap: anywhere;
}

main .loader {
  margin: 100px auto;
  text-align: center;
  color: #ccc;
}

main .loader .fa {
  font-size: 12em;
}

main .loader p {
  font-size: 2em;
}

.table-wrapper {
  margin: 10px 0;
}

.table-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.table-wrapper .dataTables_scrollBody {
  overflow: scroll !important;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.66) rgba(0, 0, 0, 0);
}

.table-wrapper .dataTables_scrollBody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.table-wrapper .dataTables_scrollBody::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.table-wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.66);
  border-radius: 6px;
}

.table-wrapper .data-table tbody td span {
  display: block;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cccccc;
}

.table-wrapper .data-table tbody td span:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.script-panel {
  position: fixed !important;
  top: initial !important;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 66%;
  z-index: 10;
  border-top: 1px solid #242a30;
}

.script-panel-controls,
.script-panel {
  color: #ffffff80;
}

.script-panel-controls-wrapper i {
  padding: 3px;
}

.script-panel-controls-wrapper .btn-add {
  padding: 0 0.25rem;
}

.script-panel-controls i:hover,
.script-panel i:not(.fa-plus):hover {
  color: #fffc;
  cursor: pointer;
}

.script-tabs .tab-list {
  min-width: 50px;
  min-height: 36px;
}

.main-script-tabs.border-right {
  border-right-style: dashed !important;
}

.main-script-tabs {
  width: calc(50% + 100px) !important;
}

.script-tabs .tab-list li a {
  color: #f8f9fa !important;
}

.script-tabs .tab-list li.active,
.script-tabs .tab-list li:hover {
  border-color: #17a2b8 !important;
}

.script-tabs .tab-list li.active a,
.script-tabs .tab-list li:hover a {
  color: #17a2b8 !important;
}

.script-tabs .tab-list li.ghost {
  background-color: #17a2b8;
}

.script-tabs .tab-list li.ghost a {
  color: #f8f9fa !important;
}

.editors {
  height: calc(100% - 82px);
}

.maximized .editors {
  height: calc(100% - 136px);
}

.editor {
  height: 100%;
  border: 1px solid transparent;
}

.editor.active {
  border: 1px solid #17a2b8;
}

.editor .CodeMirror {
  height: 100%;
}

.editor .CodeMirror-overlayscroll-horizontal div,
.editor .CodeMirror-overlayscroll-vertical div {
  background: rgba(128, 128, 128, 0.66);
}

.cm-errors {
  width: 15px;
}

.script-panel .run-script {
  padding-left: 10px;
  padding-bottom: 2px;
}

.run-script.disabled {
  color: #666 !important;
  background: #ccc;
}

.run-script.disabled:hover,
.run-script.disabled:focus,
.run-script.disabled .fa:hover {
  cursor: wait;
  color: #666 !important;
  background: #ccc !important;
}

.run-script .fa-play {
  padding-left: 6px;
}

.save-script.badge-secondary,
.save-script.badge-secondary .fa {
  cursor: not-allowed;
}

.show-results {
  background-color: #ab47bc;
}

.show-results:hover {
  background-color: #8a3898;
}

#selectTarget {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  padding: .15rem .5rem;
}

#selectTarget:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

#selectTarget.shake {
  color: rgba(255, 0, 0, 0.66);
  border-color: rgba(255, 0, 0, 0.66);
}

.thors {
  max-height: 300px;
  overflow-y: scroll;
}

.script-panel.minimized {
  height: 38px !important;
  transition: height 0.33s;
}

.script-panel.maximized {
  height: 100% !important;
  top: 55px !important;
}

.file-details .form-group {
  display: flex;
  flex-wrap: wrap;
}

.file-details .form-group span {
  width: 50%;
}

.file-details .form-group .form-control {
  width: 49%;
}

.file-details .form-group .form-control:first-of-type {
  margin-right: 0.5em;
}

.tippy-tooltip {
  max-width: initial !important;
}

.shepherd-modal-overlay-container {
  opacity: 0.7 !important;
}

.shepherd-button {
  color: #fff !important;
}

.shepherd-button-secondary {
  color: #666 !important;
}

.shake {
  animation: shake 0.55s cubic-bezier(0.37, -0.39, 0.03, 1.57) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 40%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  25%, 55%, 85% {
    transform: translate3d(2px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 576px) {
  .foldername,
  .scriptname,
  .datasetname {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .foldername,
  .scriptname,
  .datasetname {
    width: 65%;
  }
}

.workspace-load-msg.alert {
  margin-bottom: 0px;
  padding: .50rem 4rem;
}

.workspace-load-msg .close {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0.66rem;
}