body {
  font: 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

a {
  color: #00B7FF;
}

.badge-primary {
  background-color: #1f6192;
}

.login-page form {
  width: 400px;
  margin: 0 auto;
}

.form-control {
  box-shadow: none;
}

.form-group-file {
  margin-bottom: 0;
}

.form-control-file.is-invalid {
  border: 1px solid #dc3545;
  padding: 2px;
  border-radius: 0.25rem;
}

[role="main"] {
  padding-top: 58px;
}

[role="main"].show-outputs {
  padding-top: 88px;
}

[role="main"] h4 {
  margin: 0;
}

.outputs-panel {
  display: none;
  position: absolute;
  width: 100%;
  top: 53px;
  background: #343a40;
  padding: 6px 0 7px 14px;
  left: 0;
  border-bottom: 1px solid #242a30;
}

.outputs-panel .badge {
  font-weight: 500;
}

.outputs-label {
  margin: 0 0 0 10px;
  color: #f8f9fa;
  vertical-align: bottom;
}

.show-outputs .outputs-panel {
  display: block;
}

.show-outputs h4 {
  display: none;
}


.navbar {
  border-bottom: 1px solid #242a30;
}

.navbar .home-logo {
  color: #ff5722;
  font-weight: bold;
}

.workspace-btn {
  margin: 10px 0 0 10px;
}

#workspaceSelect {
  min-width: 155px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 4px;
}

.workspace-tip {
  color: #66686f;
  width: 200px;
}

.workspaces .dropdown-item:active {
  background-color: #f8f9fa;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 52px 0 0; /* Height of navbar */
  border-right: 1px solid #242a30;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
}

.dataset, .script {
  padding: 10px;
  width: 90%;
  margin: 0 5% 10px 5%;
  background-color: #dadada;
  border-radius: 6px;
}

.dataset .status,
.script .status {
  margin-left: 0.33em;
}

.script.active,
.dataset.active {
  background-color: #1f6192;
  color: #fff !important;
  border: 1px solid #dadada;
}

.dataset:first-child,
.script:first-child {
  margin-top: 10px;
}

.script .delete {
  line-height: 16px;
}

.dataset:hover .delete,
.script:hover .delete {
  display: inline !important;
  color: #d45353;
  cursor: pointer;
}

main .loader {
  margin: 100px auto;
  text-align: center;
  color: #ccc;
}

main .loader .fa {
  font-size: 12em;
}

main .loader p {
  font-size: 2em;
}

.table-wrapper {
  margin: 10px 0;
}

.table-wrapper .dataTables_wrapper {
  width: 95%;
}

.script-panel-placeholder {
  height: 400px;
  width: 100%;
}

.script-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 400px;
  z-index: 10;
  border-top: 1px solid #242a30;
}

.script-panel-controls-wrapper {
  position: absolute;
  height: 38px;
  width: 82.5%;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.script-panel-controls,
.script-panel {
  color: #ffffff80;
}

.script-panel-controls-wrapper i {
  padding: 3px;
}

.script-panel-controls i:hover,
.script-panel i:hover {
  color: #fffc;
  cursor: pointer;
}

.script-panel #editor {
  width: 81.5%;
  height: 90%;
  margin-top: 38px;
  margin-left: 17.5%;
}

#editor .CodeMirror {
  height: 100%;
}

.script-panel .run-script {
  padding-left: 10px;
  padding-bottom: 2px;
}

.run-script.disabled {
  color: #666 !important;
  background: #ccc;
}

.run-script.disabled:hover,
.run-script.disabled:focus,
.run-script.disabled .fa:hover {
  cursor: wait;
  color: #666 !important;
  background: #ccc !important;
}

.run-script .fa-play {
  padding-left: 6px;
}

.save-script.badge-secondary,
.save-script.badge-secondary .fa {
  cursor: not-allowed;
}

.script-panel.minimized {
  height: 38px;
  transition: height 0.33s;
}

.script-panel.maximized {
  height: 95%;
  transition: height 0.33s;
}

.script-panel.maximized #editor {
  height: 93% !important;
}

.file-details .form-group {
  display: flex;
  flex-wrap: wrap;
}

.file-details .form-group span {
  width: 50%;
}

.file-details .form-group .form-control {
  width: 49%;
}

.file-details .form-group .form-control:first-of-type {
  margin-right: 0.5em;
}