nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.fixed-top.flex-md-nowrap
  a.home-logo.navbar-brand(href='/') ECL IDE
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-nav'): span.navbar-toggler-icon
  div#main-nav.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.app-controls
      li.nav-item.dropdown
        a#workspaceSelect.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Select Workspace...
        div.dropdown-menu.workspaces(aria-labelledby='workspaceSelect')
          a.dropdown-item.cloner.d-none(href='#') Workspace
          .workspace-tip.ml-3.mr-2.d-none
            p.m-0.float-left No workspaces yet.#[br] Create one now.
            span.float-right
              i.mt-1.mr-2.fa.fa-2x.fa-arrow-up
      li.nav-item
        a.workspace-btn.new-workspace.text-light.badge.badge-pill.badge-secondary.float-left(href='#', title="New Workspace...", data-toggle="modal", data-target="#newWorkspaceModal") NEW
            i.fa.fa-plus.ml-1.float-right
      li.nav-item.d-none
        a.workspace-btn.delete-workspace.text-light.badge.badge-pill.badge-danger.float-left(href='#', title="Delete Workspace...", data-toggle="modal", data-target="#removeWorkspaceModal") DELETE
    ul.navbar-nav.ml-md-auto
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") Help
          i.fa.fa-lg.fa-question-circle.float-left.mr-2
        div.dropdown-menu.help-menu
          a.dropdown-item(id="tour-link", href="#")
            span.align-middle Feature Tour
            i.fa.fa-map-signs.float-left.mr-2.mt-1
          a.dropdown-item(href="https://d2wulyp08c6njk.cloudfront.net/releases/CE-Candidate-7.4.8/docs/EN_US/ECLLanguageReference_EN_US-7.4.8-1.pdf", target="_blank")
            span.align-middle ECL Docs
            i.fa.fa-book.float-left.mr-2.mt-1
          a.dropdown-item(href="#", data-toggle="modal", data-target="#feedbackModal")
            span.align-middle Feedback
            i.fa.fa-bullhorn.float-left.mr-2.mt-1
      li.nav-item
        a.nav-link(href='/users/account') #{user.username}
          i.fa.fa-lg.fa-user.float-left.mr-2
      li.nav-item
        a.nav-link(href='/auth/logout') Logout
          i.fa.fa-lg.fa-sign-out.float-left.mr-2

div.modal.fade(id="newWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New Workspace
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="workspace-name") Name:
            input.form-control(id="workspace-name", name="workspaceName", type="text", required="required", placeholder="MyWorkspace...")
            .invalid-feedback Please provide a name for the workspace.
          div.form-group
            label.col-form-label(for="workspace-cluster") Cluster:
            input.form-control(id="workspace-cluster", name="workspaceCluster", type="text", required="required", placeholder="URL or IP:port, such as \"10.173.147.1:8010\"...")
            .invalid-feedback Please provide a valid url for the cluster.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary Save

div.modal.fade(id="editWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Edit Workspace
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="edit-workspace-name") Name:
            input.form-control(id="edit-workspace-name", name="workspaceName", type="text", required="required", placeholder="MyWorkspace...")
            .invalid-feedback Please provide a name for the workspace.
          div.form-group
            label.col-form-label(for="edit-workspace-cluster") Cluster:
            input.form-control(id="edit-workspace-cluster", name="workspaceCluster", type="text", required="required", placeholder="URL or IP:port, such as \"10.173.147.1:8010\"...")
            .invalid-feedback Please provide a valid url for the cluster.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary Save

div.modal.fade(id="removeWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Delete Workspace
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        p Delete the workspace "#[span.workspacename workspace]"?

      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-danger Delete

div.modal.fade.workspaceShareModal(id="shareWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Share Workspace with Users
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        nav
        div.nav.nav-tabs(id="share-workspace-nav-tab", role="tablist")
          //- a.nav-item.nav-link.active.show(id="nav-share-users-tab", data-toggle="tab", href="#nav-share-users", role="tab", aria-controls="nav-share-users", aria-selected="true") with Users
          a.nav-item.nav-link.active.show(id="nav-share-url-tab", data-toggle="tab", href="#nav-share-url", role="tab", aria-controls="nav-share-url", aria-selected="false") via Url
        div.tab-content.pt-3(id="nav-share-workspace-tabContent")
          //- div.tab-pane.fade(id="nav-share-users", role="tabpanel", aria-labelledby="nav-share-users-tab")
            form
              div.form-group.d-flex
                label.col-form-label(for="search-for-users") Search:
                input.form-control.user-search.mx-3(id="search-for-users", name="workspaceUsers", type="text", placeholder="by username...")
                .invalid-feedback Please provide a username.
            table.table.user-list
              thead
                tr.header
                  th User
                  //- th Permission
                  th
              tbody
                tr.cloner.d-none
                  td.username Name
                  //- td.permission
                    select.form-control
                      option(value="read") Read
                      option(value="write") Write
                  td.d-flex.justify-content-center
                    button.btn.btn-danger Remove
          div.tab-pane.fade.active.show(id="nav-share-url", role="tabpanel", aria-labelledby="nav-share-url-tab")
            form
              //- div.custom-control.custom-switch
              //-   input.custom-control-input(type="checkbox", id="shareViaUrl")
              //-   label.custom-control-label(for="shareViaUrl") Share via a url
              p Copy the url below to share this workspace with any users.
              div.form-group.d-flex
                //- label.col-form-label(for="shareUrl") Url:
                input.form-control.mr-3(id="shareUrl", name="shareUrl", type="text", readonly)
                button.btn.btn-outline-info.share-url-btn(id="copyUrl", title="Copy Url")
                  i.fa.fa-clipboard
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Close
        //- button.btn.btn-primary Share

div.modal.fade(id="feedbackModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Submit Feedback
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="feedback-msg") Message:
            textarea.form-control(id="feedback-msg", name="feedbackMsg", required="required", placeholder="")
            .invalid-feedback Please provide a valid url for the cluster.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Close
        button.btn.btn-primary Send
