nav.col-sm-3.col-md-3.col-lg-2.d-none.d-sm-block.bg-dark.sidebar
  div.sidebar-sticky

    div.px-3.py-3(id="datasets-wrapper")
      h6.sidebar-heading.justify-content-between.align-items-center.mt-1.mb-1.text-light
        a#dataset-collapser.text-light.js-collapser(data-toggle="collapse", href="#datasets", role="button", aria-expanded="false")
          span Datasets
            i.fa.fa-chevron-right.ml-1
        a#new-dataset.text-light.badge.badge-pill.badge-secondary.float-right(href='#', title="New Dataset...", data-toggle="modal", data-target="#newDatasetModal") New
          i.fa.fa-plus.ml-1.float-right

      div.flex-column.datasets.collapse.folder-root(id="datasets")
        a.text-light.dataset.cloner.d-none(href='#')
          div.d-flex
            div.cardname-wrapper.flex-grow-1
              b.datasetname Name
                i.status.fa.fa-refresh.d-none
            i.fa.fa-pencil-square-o.edit.d-none.mr-1(title="Edit dataset")
            i.fa.fa-close.delete.d-none(title="Delete dataset")
            span.rows.d-none Rows: ?
            span.cols.d-none Columns: ?

    div.px-3.py-3(id="scripts-wrapper")
      h6.sidebar-heading.justify-content-between.align-items-center.mt-4.mb-1.text-light
        a#script-collapser.text-light.js-collapser(data-toggle="collapse", href="#scripts", role="button", aria-expanded="false")
          span Scripts
            i.fa.fa-chevron-right.ml-1
        a#new-script.text-light.badge.badge-pill.badge-secondary.float-right(href='#', title="New Script...", data-toggle="modal", data-target="#newScriptModal") New
          i.fa.fa-plus.ml-1.float-right

      div.flex-column.scripts.collapse.folder-root(id="scripts")
        a.text-light.script.cloner.d-none(href='#')
          span.scriptname script
            i.status.fa.fa-refresh.d-none
          i.float-right.fa.fa-close.delete.d-none(title="Delete script")
          i.float-right.fa.fa-pencil-square-o.edit.d-none.mr-1(title="Edit script")

    a#new-folder.d-none(href='#', title="New Folder...", data-toggle="modal", data-target="#newFolderModal") New
    li.d-none
      a.folder.cloner.text-light
        span.foldername Name
        i.float-right.fa.fa-close.delete.d-none(title="Delete folder")
        i.float-right.fa.fa-pencil-square-o.edit.d-none.mr-1(title="Edit folder")
      ul.d-none

div.context-menu(id="scripts-context-menu")
  ul.menu-items
    li(data-action="create_folder") New Folder
    li(data-action="create_script") New Script

div.context-menu(id="datasets-context-menu")
  ul.menu-items
    li(data-action="create_folder") New Folder
    li(data-action="create_dataset") New Dataset

div.modal.fade(id="newFolderModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New Folder
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="new-folder-name") Name:
            input.form-control(id="new-folder-name", name="folderName", type="text", required="required", placeholder="MyNewFolder...")
            .invalid-feedback Please provide a name for the folder.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="editFolderModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Edit Folder
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="edit-folder-name") Name:
            input.form-control(id="edit-folder-name", name="folderName", type="text", required="required")
            .invalid-feedback Please provide a name for the folder.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="removeFolderModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Remove Folder
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        p Delete the folder "#[span.foldername folder]" (and all of its contents) from this workspace?
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-danger Delete

div.modal.fade(id="newScriptModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New ECL Script
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="new-script-name") Name:
            input.form-control(id="new-script-name", name="scriptName", type="text", required="required", placeholder="MyNewScript...")
            .invalid-feedback Please provide a name for the script.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="editScriptModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Edit ECL Script
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="edit-script-name") Name:
            input.form-control(id="edit-script-name", name="name", type="text", required="required")
            .invalid-feedback Please provide a name for the script.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="removeScriptModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Remove ECL Script
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        p Delete the script "#[span.scriptname script]" from this workspace?
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-danger Delete

div.modal.fade(id="newDatasetModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New Dataset
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        nav
        div.nav.nav-tabs(id="nav-tab", role="tablist")
          a.nav-item.nav-link.active.show(id="nav-upload-tab", data-toggle="tab", href="#nav-upload", role="tab", aria-controls="nav-upload", aria-selected="true") Upload
          //- a.nav-item.nav-link(id="nav-import-tab", data-toggle="tab", href="#nav-import", role="tab", aria-controls="nav-import", aria-selected="false") Import
        div.tab-content(id="nav-tabContent")
          div.tab-pane.fade.active.show(id="nav-upload", role="tabpanel", aria-labelledby="nav-upload-tab")
            form
              div.form-group.form-group-file
                label.col-form-label(for="dataset-file") File:
                input.form-control-file(id="dataset-file", name="datasetFile", type="file", required="required", accept=".csv,.txt")
                .invalid-feedback Please select a CSV file to upload.
              div.form-group
                label.col-form-label(for="dataset-name") Name:
                input.form-control(id="dataset-name", name="datasetName", type="text", required="required", placeholder="MyNewDataset...")
                .invalid-feedback Please provide a name for the dataset.
              div.file-details
          //- div.tab-pane.fade(id="nav-import", role="tabpanel", aria-labelledby="nav-import-tab")
          //-   form
          //-     div.form-group
          //-       label.col-form-label(for="dataset-name") Name:
          //-       input.form-control(id="dataset-name", name="datasetName", type="text", required="required", placeholder="MyNewDataset...")
          //-       .invalid-feedback Please provide a name for the dataset.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="editDatasetModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Edit Dataset
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="edit-dataset-name") Name:
            input.form-control(id="edit-dataset-name", name="name", type="text", required="required")
            .invalid-feedback Please provide a name for the dataset.
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Save

div.modal.fade(id="removeDatasetModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Remove Dataset
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        p Delete the dataset "#[span.datasetname dataset]" from this workspace?
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-danger Delete