*.gif filter=lfs diff=lfs merge=lfs -text
**/videos/*.webm filter=lfs diff=lfs merge=lfs -text
app/public/files/** filter=lfs diff=lfs merge=lfs -text
app/ecl-samples.zip filter=lfs diff=lfs merge=lfs -text
