# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# patch files
*.patch

# any .eclcc directories
.eclcc

# deploy dir
deploy/
/**/public/test/

# Sequelize config file
config.json
config.js

#dist/public javascripts
codemirror/
hpcc-js/
lodash/
papaparse/
sortablejs/

#ecl workspaces
workspaces

#mysql data for docker container
mysql-data/

#datasets uploaded to cluster
landing_zone/

#zip containing default workspace scripts
ecl-samples.zip