extends ../layout

block beforeBody
  - bodyClasses.push('login-page')

block content
  main.container(role='main')
    form.form-signin(role='form', action='/auth/forgot', method='post')
      - var _csrfToken = csrfToken;
      input(type='hidden', name='_csrf', value=_csrfToken)
      .form-group
        p.lead Forgot password
      .form-group
        input.form-control(type='text', name="emailaddress", placeholder='Email Address')
      button.btn.btn-large.btn-primary.btn-block(type='submit') Reset
