extends ../layout

block beforeBody
  - bodyClasses.push('login-page')

block content
  main.container(role='main')
    form.form-signin(role='form', action='/auth/login', method='post')
      - var _csrfToken = csrfToken;
      input(type='hidden', name='_csrf', value=_csrfToken)
      .form-group
        p #[a(href='/auth/register') Register] a new account
      .form-group
        if errors.length > 0
          div.alert.alert-danger.login-error #{errors[0]}
        else if info.length > 0
          div.alert.alert-info.login-error !{info[0]}
        input.form-control(type='text', name="username", placeholder='Username or Email Address')
      .form-group
        input.form-control(type='password', name='password', placeholder='Password', autocomplete='off')
      .form-group
        p #[a(href='/auth/forgot') Forgot password?]
      button.btn.btn-large.btn-primary.btn-block(type='submit') Log in