extends ../layout

block beforeBody
  - bodyClasses.push('account-page')

block content
  include ../includes/header

  div.container-fluid.dashboard
    div.row
      // include ../includes/sidebar

      main.px-4(role='main')

        form.form-signin(role='form', action='/users/password/change', method='post')
          .form-group
            p.lead Change password
          .form-group
            if errors.length > 0
              div.alert.alert-danger.login-error #{errors[0]}
            else if info.length > 0
              div.alert.alert-info.login-error #{info[0]}
            input.form-control(type='password', name="password", placeholder='New Password')
          button.btn.btn-large.btn-primary.btn-block(type='submit') Change