extends layout

block content
  include ./includes/header

  div.ctrl-p.d-none
    input.form-control.form-control-sm

  div.container-fluid.dashboard
    div.row
      include ./includes/sidebar

      main.px-4(role='main')
        div.outputs-panel
          span.outputs-label OUTPUTS
          span.outputs-list
        div.loader.d-none
          i.fa.fa-refresh.fa-spin
          p Loading...
        div.dataset-content.d-none
          h4 Taxi Trips Raw
            span.scopename.d-none (scope)
          div.table-wrapper
            table.table
              thead
                tr
                  th(scope='col') Vendor ID
                  th(scope='col') Pickup DateTime
                  th(scope='col') Pickup Longitude
                  th(scope='col') Pickup Latitude
                  th(scope='col') Dropoff DateTime
                  th(scope='col') Dropoff Longitude
                  th(scope='col') Dropoff Latitude
                  th(scope='col') Passenger Count
                  th(scope='col') Fare Amount
                  th(scope='col') Tip Amount
                  th(scope='col') Tolls Amount
                  th(scope='col') Total Amount
              tbody
                tr
                  td(scope='row') 1182739
                  td 2018-06-09 21:06:36
                  td -73.98171
                  td 40.736667
                  td 2018-06-09 21:14:08
                  td -73.98163
                  td 40.67024
                  td 1
                  td 7.00
                  td 2.00
                  td 0.00
                  td 9.00

        div.script-panel-placeholder.d-none

        div.script-panel.bg-dark.d-none
          div.script-panel-controls-wrapper
            div.script-controls.ml-30.mt-2
              a.run-script.text-light.badge.badge-pill.badge-success(href="#", title="Execute Script") RUN
                i.fa.fa-play
              a.save-script.d-none.text-light.badge.badge-pill.badge-secondary.ml-2(href="#", title="No Changes") SAVE
                i.fa.fa-save
              a.show-results.text-light.badge.badge-pill.badge-info.ml-2.pl-2(href="#", title="Show Last Results") LAST RESULTS
                i.fa.fa-clock-o

            div.script-panel-controls.mr-3.mt-2
              i.fa.fa-window-minimize.js-minimize(title="Minimize Script")
              i.fa.fa-window-maximize.js-restore(title="Restore Script")
              i.fa.fa-window-close-o.js-close(title="Close Script")
          div#editor
