doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href='/stylesheets/style.css', rel='stylesheet')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', rel='stylesheet')

    link(href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css", rel="stylesheet")
    link(href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css", rel="stylesheet")

    link(href='/javascripts/codemirror/lib/codemirror.css', rel='stylesheet')
    link(href='/javascripts/codemirror/theme/monokai.css', rel='stylesheet')
    link(href='/javascripts/codemirror/theme/darcula.css', rel='stylesheet')
    link(href='/javascripts/codemirror/theme/dracula.css', rel='stylesheet')
    link(href='/javascripts/codemirror/addon/scroll/simplescrollbars.css', rel='stylesheet')
    link(href='/javascripts/bootstrap-combobox/css/bootstrap-combobox.css', rel='stylesheet')
    link(href="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/themes/base/resizable.css", integrity="sha256-7NXwwN/7FPh84AbJaH4JSQTKPOs8TNbO2LVJmDmZxVU=", crossorigin="anonymous", rel="stylesheet")

    link(href="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.css", rel="stylesheet", integrity="sha256-GHbWr7miG/WXEsrIb47MsX3KBJa9FTyi5ZMYr4XDHAQ=", crossorigin="anonymous")

    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")

    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
    script(src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js")

    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widget.js", integrity="sha256-FUyS2h6QG+gXknMbDTEkA1erGw8fY9wkxKhw85RGUOU=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widgets/mouse.js", integrity="sha256-8otAORp8lMAqwcm7gLRqpGs+KFJEr8nQPh2QIumMQZs=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/disable-selection.js", integrity="sha256-zW8RC/jFcfL462qgW39k9ahAm0SrQkZZCe6aOqnIf+A=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/plugin.js", integrity="sha256-5ic/3Zi/d0Dp5uJhxwyrfVDYLCICNiqHECwfX2Y8wxU=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/version.js", integrity="sha256-yOPRID2ibqfv34PB6rs/C6Vcto5GP1zPDXe9Fc5qjmE=", crossorigin="anonymous")

    script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widgets/resizable.js", integrity="sha256-Yx+zBVMMN+BeBM3sGMWd1c95rhKR5KykleizgQuAwXg=", crossorigin="anonymous")

    script(src="https://cdn.jsdelivr.net/npm/shepherd.js@4.6.0/dist/js/shepherd.min.js", integrity="sha256-JgKBr09VFhx+XEUSl5L7k0VF8JVm7WkeCfYTdZRkQuE=", crossorigin="anonymous")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js", integrity="sha256-1fEPhSsRKlFKGfK3eO710tEweHh1fwokU5wFGDHO+vg=", crossorigin="anonymous")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js", integrity="sha256-SJP2/lB7KKZ6g3WvZVyNddmsyllDI6G+SJQcP/yDVQE=", crossorigin="anonymous")

    script(src="/javascripts/bootstrap-combobox/js/bootstrap-combobox.js")
    script(src="/javascripts/app.js", type="module")

    link(href="/manifest.json", rel="manifest")
    meta(name="msapplication-TileImage", content="/images/icons/icon-144x144.png")
    meta(name="msapplication-TileColor", content="#343a40")
    - var bodyClasses = [];

    - var _csrfToken = csrfToken;
    meta(name="csrf-token", content=_csrfToken)

  block beforeBody

  include ./includes/mixins/modal.pug
  include ./includes/mixins/form-group.pug

  body(class=bodyClasses)
    block content